<H1>Hello file</h1>

<!--  <%3.times do |n|%>
      <p><%= n %></p>           #without using instance variables
      <%end%>
-->

 <!--   <%@array.each do |n|%>
      <p><%= n %></p>           #with instance variables
      <%end%>
-->

 <%= link_to("Index page", {:controller=> 'demo', :action => 'index', :name=>'Samvita', :id=>10})%>
                                                           <!-- #adding links to html template-->


