<%= link_to("<< Back to List", pages_path, :class => 'back-link-page') %>

<div class="pages new">
  <h2>Create Pages</h2>

  <%= form_for(@page, :url =>page_path(@page), :method => 'post') do |f| %>



    <div class="form-buttons">
      <%= f.submit("Create Page") %>
    </div>


  <% end %>
</div>
